

body {
  background-color: #2c2141;
  font-family: Arial, Helvetica, sans-serif;
}

.flex {
  
  min-height: 100vh;
  display: flex;
  flex-flow: row wrap ;
  justify-content: center;
  align-items: center;
  
}
.flex__item {
  background: #e5e5e5;
  height: 320px;
  
  width: 624px;
  
}