

body {
  background-color: #2c2141;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  line-height: 22px;
}

.flex {
  
  min-height: 100vh;
  display: flex;
  flex-flow: row wrap ;
  justify-content: center;
  align-items: center;

  
}
.flex__item {
  background: #e5e5e5;
  height: 320px;
  
  width: 624px;
  border-radius: 16px;
  display: flex;

  
}
.flex__item--color {
  color: #ED6D05;
  font-weight: normal;
}
.flex__item--link {
  color: #E20613 ;
   font-weight: normal;
   text-decoration: none;
   
}
.flex__item--image {
  margin: 32px;
}
.flex__item--header {
  font-style: italic;
  
  color: #545454;
  line-height: 0px;
}
.flex__item--content {
  flex-wrap: wrap;
  margin-right: 32px;
  margin-top: 32px;
}
.flex__item--coment {
  margin-top: 24px;
}
.flex__item--footer {
  line-height: 90px;
}
.flex__item--header--first {
}